.comment_block{
   
    width: 95%;
    height: 85%;
    background: #85a5f5;
    border-radius: 1%;
    overflow-x: hidden;
    overflow-y: scroll;
}
.parent_modul{
    background: #5e81da;
    width: 90%;
    height: 85vh;
    padding: 20px;
    /* overflow: hidden; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 5rem;
    left: 5%;
    z-index: 100;
    border-radius:12px;
}

.comment_input{
    position: fixed;
    bottom:1.5rem;
    width: 80%;
}
.comments_area{
    padding: 35px;  
}
.partner{
    display: flex;
    justify-content:right;
}
#comments_img{
   margin-right:5px;
   min-width: 30px;
   max-width: 60px;
   border-radius:20%;
   padding: 5px;
}